version: '3.9'

services:
  curve-editor-server:
    image: dmitryl12345/curve-editor-server:latest
    container_name: curve-editor-server
    # restart: unless-stopped
    ports:
      - "127.0.0.1:3111:80"
    volumes:
      - ./:/usr/src/app